* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#catbag {
  width: 100%;
  margin: 50px 0;
}
h2 {
  margin: 50px 20px;
  letter-spacing: 2px;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.765);
}

.gift {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.gift div {
  height: 240px;
}
.gift img {
  width: 100%;
  height: 100%;
}

/* seasion  */
.seasion {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.seasion div {
  height: 200px;
}
.seasion img {
  width: 100%;
  height: 100%;
}
